<%- include('partials/header') %>
<div class="container">
    <h2>View Item</h2>
    <p><%= item.name%></p>
    <div>
        <a href="/items" class="btn">Go Back</a>
        <a href="" class="btn">Update</a>
    </div>
</div>


<%- include('partials/footer') %>