
    <%- include('partials/header') %>
   <div class="container">
        
       <!-- <ol>
            <li><a href= "potatoes">Potatoes</a></li>
            <li><a href= "chilli">Chilli</a></li>
            <li><a href= "yams">Yams</a></li>
       </ol> -->
       <% for(let item of items) { %>

        <p><%= `${item.id}.${item.name}` %></p>


       <% }; %>
    </div>

<%- include('partials/footer') %>