
    <%- include('partials/header') %>
   <div class="container">
        <div>
            <a class="btn" id = "add" href="/create">Add Item</a> 
        </div>
        
    <!-- <ol>
            <li><a href= "potatoes">Potatoes</a></li>
            <li><a href= "chilli">Chilli</a></li>
            <li><a href= "yams">Yams</a></li>
       </ol> -->
       <div class="items">
            <% for(let item of items) { %>

            <p class="item  bg-grey"><%= `${item.id}.${item.name}` %></p>
    
    
           <% }; %>
       </div>
       
    </div>

<%- include('partials/footer') %>