<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>LIST </title>
</head>

<body>
    <nav class="container">
        <a href="">LIST</a>
    </nav>
   <div class="container">
       <% const items = [{'id':1, 'item':'potatoes'},{'id':2, 'item':'chilli'},{'id':3, 'item':'yams'}] %>
       <ol>
            <li><a href= "potatoes">Potatoes</a></li>
            <li><a href= "chilli">Chilli</a></li>
            <li><a href= "yams">Yams</a></li>
       </ol>
    </div>
</body>

</html>