@font-face{
    font-family : 'Montserrat';
    src:url('Montserrat-Regular.ttf');
}

*{
    font-family:Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 0 80px;
    /* height: 100vh; */
}

.list-item{
    margin-top: 20px;
    
}

.bg-grey{
    background-color: #f4f4f4;
}

.bg-light{
    background-color: #fff;
}

.display{
    height: 100vh;
}

header{
    height: 80px;
    align-items: center;
    margin-bottom: 15px;
   
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logout a {
    text-decoration: none;
    color: #54a5a8;
    font-weight: bolder;
}

.username{
    
    text-align: right;
    font-size: 22px;
}

.home-content{
    height: 100vh;
}

.align-center{
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}
.home-text{
    color:#54a5a8;
    margin-bottom: 15px;
}

.brand-text{
    color:#54a5a8
}

/* .home-btn{
    margin-top: 20px !important;
} */

.brand-btn{
    background-color: #54a5a8;
    border-color: #54a5a8;
    padding: 14px 12px;
    color:#fff;
    text-decoration: none;
    font-size: 22px;
    border-radius: 5px;
  
}

.brand-btn:hover {
    background-color: #fff;
    color:#54a5a8;
    border: solid 2px #545454;
}

ol a{
    text-decoration: none;
    color: inherit;
}

.btn{
    background-color: #54a5a8;
    border-color: #54a5a8;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin: 9px 0;
    padding: 7px 6px;
    border-radius: 5px;
}

.btn:hover{
    background-color: #488c8f;
    border-color: #488c8f;
}

/* #add { 
    /* float: right; 

    position: absolute;
    left: 90%;
    top:5%;

    
} */

.illustration{
    width:80%;

}

.items{
    margin: 20px  0;
    /* padding-top: 5px;
    padding-left: 20px; */
}

.item{
    padding: 15px 15px;
    margin-bottom: 4px;
    font-size: 20px;
}

.anchor{
    text-decoration: none;
    color: #000000;
}

form{
    /* display: block;
    margin: 0 auto; */

    display: flex;
    justify-content: center;
    /* width: 80%; */
     
}

.form-content{
    /* border:1px solid black; */
    width: 60%;
}

.new-item{
    /* border-color: #fff; */
    border-radius: 5px;
    border: 0 ;
    font-size: 26px;
    padding: 8px;
    width: 100%;
    outline: none;  
}

.form-btns{
    display:flex;
    justify-content:center;

}

.form-btns > a {
    text-align: center;
}

.form-btns > input{
    margin-left: 10px;
    outline:none;
    border: 0;
}

.form-btns > .btn{
    width: 150px;
}

.action{
    float: right;
    transform: translateY(-41px) ;
}

.action form {
    margin-left: 5px;
    
}
.edit{
    background-color: #1daf33;
    border-color: #1daf33;
}

.edit:hover{
    background-color: #188e2a;;
    border-color: #188e2a;
}

.delete{
    background-color: #e2362d;
    border-color: #e2362d;
}

.delete:hover{
    background-color: #c42d25;
    border-color: #c42d25;
}

.mid {
    height: 80vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid form{
    display: block;
    border: 3px solid #f4f4f4;
    padding: 16px 14px;
    border-radius: 5px;

}

.mid h2{
    text-align: center;
    color: rgb(0, 0 , 0 , 0.5);
}

.mid input{
    border-radius: 5px;
    border: 0 ;
    font-size: 26px;
    padding: 8px;
    width: 100%;
    outline: none;
    margin: 4px 0;  
}

.mid p{
    margin: 4px 0;
}