@font-face{
    font-family : 'Montserrat';
    src:url('Montserrat-Regular.ttf');
}

*{
    font-family:Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #f4f4f4; */
}

.container{
    padding: 0 80px;
    /* height: 100vh; */
}

.home-content{
    height: 100vh;
}

.align-center{
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}
.left,.right{
    /* border: 1px solid black; */
}
.home-text{
    color:#54a5a8;
    margin-bottom: 15px;
}

.brand-btn{
    background-color: #54a5a8;
    border-color: #54a5a8;
    padding: 14px 12px;
    color:#fff;
    text-decoration: none;
    font-size: 22px;
    border-radius: 5px;
  
}

.brand-btn:hover {
    background-color: #fff;
    color:#54a5a8;
    border: solid 2px #545454;
}

ol a{
    text-decoration: none;
    color: inherit;
}
.illustration{
    width:80%;

}